<header data-component="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-auto">
				<img src="https://salomontiago.github.io/ngx-honey/logo.svg" width="200">
			</div>
			<div class="col-auto d-flex align-items-center"><h1>Static Front-end</h1></div>
		</div>
	</div>
</header>
